.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image {
  width: 418px;
  height: 171px;
  object-fit: cover;
}
.home-button {
  top: 714px;
  left: 480px;
  color: var(--dl-color-gray-white);
  width: 108px;
  height: 37px;
  position: absolute;
  background-color: #2f114c;
}
.home-input {
  top: 547px;
  left: 412px;
  position: absolute;
}
.home-image1 {
  top: 274px;
  left: 494px;
  width: 100px;
  position: absolute;
  object-fit: cover;
}
.home-text {
  top: 609px;
  left: 413px;
  color: rgb(47, 17, 76);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 800;
}
.home-label {
  top: 510px;
  left: 415px;
  color: #2f114c;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 800;
}
.home-text3 {
  top: 433px;
  left: 499px;
  color: #2f114c;
  position: absolute;
  text-align: center;
  font-family: Source Sans Pro;
  text-transform: capitalize;
}
.home-textinput {
  top: 646px;
  left: 412px;
  position: absolute;
}
